@keyframes pop {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(var(--scale));
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Wrapper {
    display: flex;
    box-sizing: border-box;
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
    touch-action: manipulation;

    &.fadeIn {
        animation: fadeIn 500ms ease;
    }

    &.dragOverlay {
        --scale: 1.05;
        z-index: 999;
    }
}