.mycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.mybutton {
  margin-top: 10px;
  font-family: 'Chakra Petch', system-ui;
  line-height: 1;
  font-size: 2vh !important;
  animation: buttonAnimation 7s forwards;
}

.mybutton:hover {
  background-color: lightgray !important;
  color: black !important;
}

.mybutton:active {
  background-color: transparent !important;
  color: white !important;
}

@keyframes buttonAnimation {
  0% {
    background-color: transparent;
    color: white;
  }

  99% {
    background-color: transparent;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

/* DEMO-SPECIFIC STYLES */
.typed {
  color: #fff;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.3em solid #CCC;
  /* The typewriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 7s steps(7, end),
    dummy 0.01s forwards,
    blink-caret 1s step-end infinite;
  font-weight: 900;
  -webkit-font-smoothing: none;
  font-family: 'Chakra Petch', system-ui;
  font-size: 10vw;
  display: flex;
  opacity: 0.3;
  text-transform: uppercase;
  line-height: 1;
  /* Adjust line height to reduce gap */
}

.typedContainer {
  display: flex;
  overflow: hidden;
  top: 20%;
  width: 100%;
  margin: auto;
}

@keyframes dummy {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.001);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #CCC
  }
}

.mycanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(rgba(255, 255, 255, 0.02) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.02) 2px, transparent 2px), linear-gradient(rgba(150, 150, 150, .05) 1px, transparent 1px), linear-gradient(90deg, rgba(150, 150, 150, .05) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  z-index: -1;
}

.hero:after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-image: url("http://assets.iceable.com/img/noise-transparent.png");
  height: 300%;
  width: 300%;
  position: fixed;
  opacity: 0.8;
  animation: animateGrain 10s steps(10) infinite;
}

@keyframes animateGrain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, -20%)
  }

  30% {
    transform: translate(-5%, -10%)
  }

  40% {
    transform: translate(-15%, -20%)
  }

  50% {
    transform: translate(-5%, -10%)
  }

  60% {
    transform: translate(-15%, -20%)
  }

  70% {
    transform: translate(-5%, -10%)
  }

  80% {
    transform: translate(-15%, -20%)
  }

  90% {
    transform: translate(-5%, -10%)
  }

  100% {
    transform: translate(-15%, -20%)
  }
}