@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

pre,
code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
  overflow-wrap: break-all !important;
  max-width: 100% !important;
}

html, body, #root {
    font-family: 'Chakra Petch', sans-serif;
    min-height:100vh;
    --color-scheme: light;
    color-scheme: var(--color-scheme);
}
.dark {
    --color-scheme: dark;
}
.dark * {
    color-scheme: dark;
}
body, html {
    height: 100%;
}

.dark .themeBody {
    background-image: linear-gradient(135deg, #111 0%, #09203f 25%, #111 100%);
    background-size: 100% 100vh;
    background-attachment: fixed;
}
.themeBody::before {
    position: fixed;
    content: "";
    background-image: url("assets/stripe.svg");
    inset-inline-start: 0;
    inset-inline-end: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat;
    pointer-events: none;
}
.dark .themeBody::before {
    opacity: 0.3;
}
.light .themeBody::before {
    filter: invert(1) opacity(0.3);
}
.light .themeBody {
    background-image: linear-gradient(135deg, #ecf7ff 0%, #c6e6ff 25%, #e5f1ff 100%);
    background-size: 100% 100vh;
    background-attachment: fixed;
}
.dark .themeDiv {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.light .themeDiv {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0 0 0, 0.1);
    border-radius: 4px;
}
.clusterize-scroll {
    height: 300px; /* adjust this value as needed */
    overflow: auto;
}

::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Customize the thumb color */
    border-radius: 10px; /* Round the corners */
    border: 3px solid transparent; /* Add space around the thumb */
    background-clip: content-box; /* Clip the background to the content box */
}

/* For Firefox */
.light * {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

/* Dark mode */
.dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Customize the thumb color for dark mode */
}

.dark * {
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Customize the thumb color for dark mode */
}
ol {
    list-style-type: decimal!important;
    list-style-position: inside!important;
}