.tooltipContainer {
    display: inline-block;
    position: relative;
}

.tooltipContent {
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 180px;
    max-width: calc(100vw - 10px);
    max-height: calc(100vh - 10px);
    overflow-y: auto;
    padding: 6px;
    border-radius: 4px;
    z-index: 9999;
    white-space: normal;
    overflow-wrap: break-word;
}
@media (max-width: 1024px) {
    .tooltipContent {
        width: 90%;
    }
}

@keyframes progress {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 100, 100;
    }
}

.tooltipCircle {
    animation-name: progress;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    stroke: currentColor;
    stroke-width: 6;
}